@font-face {
    font-family: 'DungGeunMo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    width:100%;
    background :#222;
    padding-top:60px;
}

section {
    width:1000px;
    height:700px;
    background: url('../img/carrotBackground.png') no-repeat;
    background-size:100% 100%;
    border-radius: 10px;
    margin: auto;
    text-align: center;
    font-size:30px;  
}

button {
    font-size:30px;
    border:3px solid #000;
    width:50px;
    height:50px;
    line-height: 20px;
    border-radius: 5px;
    background:#f1d5a2;
}

header {
    height:400px;
    padding-top:20px;
}
header > div {
    text-align: center;
    margin:20px auto;
}
.timer {
    background:#fff;
    width:150px;
    padding:10px;
    border-radius: 10px;
    border:3px solid #000;
}
.count {
    background:pink;
    width:60px;
    height:60px;
    border-radius: 50%;
    line-height: 1.7;
    border:3px solid #000;
}
.field {
    height:300px;
    position:relative;
}
ul {
    height:100%;
    display:none;
}
ul > li {
    position:absolute;
    cursor: pointer;
}
.popup {
    margin:auto;
    transform : translateY(-220%);
    background-color: #00000190;
    width:300px;
    height:180px;
    border-radius: 10px;
    padding-top:30px;
    display: none;
}
.popup p {
    padding-top:20px;
    color:#fff;
    font-size: 40px;
}

.gameRuleBtn {
    position: absolute;
    top: 80px;
    right: 60px;
    width:150px;
    height:50px;
    font-size: 23px;
    color:#222;
    background-color: #f1d5a2;
    border:3px solid #222;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'DungGeunMo';
}

.gameRule {
    position: absolute;
    width: 50%;
    height:50%;
    background-color: #00000599;
    top:25%;
    left:25%;
    border-radius: 5px;
    border:3px solid #222;
    color:#fff;
    z-index: -1;
}

.gameRule h3 {
    font-size:35px;
    padding:40px;
    font-family: 'DungGeunMo';
}
.gameRule p {
    font-size:20px;
    padding:10px;
}

.closeBtn {
    font-size: 20px;
    border:none;
    background-color: #f1d5a2;
    width:150px;
    height:50px;
    border-radius: 5px;
    margin-top: 40px;
    color:#222;
    border: 3px solid #222;
    font-weight: bold;
}