@font-face {
    font-family: 'DungGeunMo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    width:100%;
    background-image:radial-gradient(#AAA, transparent 5%);
    background-image: -webkit-radial-gradient(#AAA, transparent 5%);
    background-image: -moz-radial-gradient(#AAA, transparent 5%);
    background-image: -o-radial-gradient(#AAA, transparent 5%);
    background-color:#9dddff;
    background-size:16px 16px;
    padding-top:70px;
}
section {
    border: 1px solid #fff;
    position: relative;
    width:1000px;
    height:700px;
    background: url('../img/moleBackground.jpg') no-repeat;
    background-size:100% 100%;
    border-radius: 10px;
    margin: auto;
    text-align: center;
    font-size:30px;  
}
a {
    display:inline-block;
    color:#222;
    line-height: 35px;
}

button, a {
    font-size:30px;
    border:3px solid #000;
    width:50px;
    height:50px;
    border-radius: 5px;
    background:#f1d5a2;
    color:#222;
}
.stopBtn {
    font-size:40px;
    line-height: 40px;
}
header {
    height:400px;
    padding-top:20px;
}
header > div:not(.btn) {
    text-align: center;
    margin:20px auto;
}
.timer {
    background:#fff;
    width:150px;
    padding:10px;
    border-radius: 10px;
    border:3px solid #000;
}
.count {
    background:pink;
    width:60px;
    height:60px;
    border-radius: 50%;
    line-height: 1.7;
    border:3px solid #000;
}
.field {
    height:300px;
    position:relative;
}
ul {
    height:100%;
}
ul > li {
    position:absolute;
    cursor: pointer;
    z-index: -1;
}

img {
    width:60px;
    height:60px;
}

.popup {
    margin:auto;
    transform : translateY(-220%);
    background-color: #00000190;
    width:300px;
    height:180px;
    border-radius: 10px;
    padding-top:30px;
    display: none; 
}
.popup p {
    padding-top:20px;
    color:#fff;
    font-size: 40px;
}
.gameRuleBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    width:150px;
    height:50px;
    font-size: 23px;
    color:#222;
    background-color: #f1d5a2;
    border:3px solid #222;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'DungGeunMo';
}

.gameRule {
    position: absolute;
    width: 50%;
    height:55%;
    background-color:rgba(1, 1, 1, 0.5);
    top:25%;
    left:25%;
    border-radius: 5px;
    
    color:#fff;
    display:none;
}

.gameRule h3 {
    font-size:35px;
    padding:40px;
    font-family: 'DungGeunMo';
}
.gameRule p {
    font-size:20px;
    padding:10px;
}

.closeBtn {
    font-size: 20px;
    border:none;
    width:150px;
    height:50px;
    border-radius: 5px;
    margin-top: 20px;
    color:222;
    border: 3px solid #000;
    font-weight: bold;
}